[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
black = "*"
matplotlib = "*"
requests = "*"
loguru = "*"
extcolors = "*"
colormap = "*"
pandas = "*"
easydev = "*"

[dev-packages]

[requires]
python_version = "3.8"
